/*******************************************************************************
Fonts
*******************************************************************************/

/* Proxima Nova Bold */
@font-face {font-family: 'ProximaNovaS-Bold';src: url('fonts/proxima-bold/23BAC1_0_0.eot');src: url('fonts/proxima-bold/23BAC1_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/proxima-bold/23BAC1_0_0.woff') format('woff'),url('fonts/proxima-bold/23BAC1_0_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNovaA-Bold';src: url('fonts/proxima-bold/23BAC1_1_0.eot');src: url('fonts/proxima-bold/23BAC1_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/proxima-bold/23BAC1_1_0.woff') format('woff'),url('fonts/proxima-bold/23BAC1_1_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-Bold';src: url('fonts/proxima-bold/23BAC1_2_0.eot');src: url('fonts/proxima-bold/23BAC1_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/proxima-bold/23BAC1_2_0.woff') format('woff'),url('fonts/proxima-bold/23BAC1_2_0.ttf') format('truetype');}

/* Proxima Nova Thin */
@font-face {font-family: 'ProximaNovaA-Thin';src: url('fonts/proxima-thin/24BA4F_0_0.eot');src: url('fonts/proxima-thin/24BA4F_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/proxima-thin/24BA4F_0_0.woff') format('woff'),url('fonts/proxima-thin/24BA4F_0_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNovaS-Thin';src: url('fonts/proxima-thin/24BA4F_1_0.eot');src: url('fonts/proxima-thin/24BA4F_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/proxima-thin/24BA4F_1_0.woff') format('woff'),url('fonts/proxima-thin/24BA4F_1_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNovaT-Thin';src: url('fonts/proxima-thin/24BA4F_2_0.eot');src: url('fonts/proxima-thin/24BA4F_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/proxima-thin/24BA4F_2_0.woff') format('woff'),url('fonts/proxima-thin/24BA4F_2_0.ttf') format('truetype');}


/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:focus {
  outline: none;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#373737;
  background: #212121;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 20px 10px;
  margin: 0 auto;
}
